#display {
    border: 1px solid black;
    height: 50px;
    width: 300px;
    margin-bottom: 20px;
}

#calcBody {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 300px;
}

#operators{
    display: flex;
    width: 300px;
    flex-wrap: wrap;
}

.calcButton {
    height: 100px;
    width: 100px;
    font-size: 30px;
    text-align: center;
}

.calcButton:hover{
    background-color: lightblue;
}